name: CI

on:
  push:
    branches:
      - main
      - release-*
    tags-ignore:
      - "v*"
  pull_request: {}
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

env:
  PYTHON_VERSION: "3.13"
  HATCH_VERSION: "1.16.2"
  DOCKER_BUILDX_VERSION: "v0.30.1"
  XP_CHANNEL: stable
  XPKG: ghcr.io/${{ github.repository }}

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Hatch
        run: pipx install hatch==${{ env.HATCH_VERSION }}
      - name: Lint
        run: hatch fmt

  unit-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Hatch
        run: pipx install hatch==${{ env.HATCH_VERSION }}
      - name: Run unit tests
        run: hatch test --all --randomize
